/* Runner and pronouns panel. */
#runner-container1 {
	width: 410px;
	height: 80px;
	line-height: 80px;
	left: 68px;
	top: 356px;
	
	padding-left: 10px;
	padding-right: 10px;
}

/* Runner name dynamic text. */
.runner-name, .comms-name {
	max-width: 270px;
}

.pronouns, .comms-pronouns {
	max-width: 108px;

}

/* Comms panel. */
.comms-container {
	width: 410px;
	height: 70px;
	line-height: 70px;
	left: 66px;	
	padding-left: 10px;
	padding-right: 10px;
}

#comms-container1 {
	top: 423px;
}

#comms-container2 {
	top: 490px;
}

/* Game name panel. */
#game-name {
	width: 466px;
	height: 40px;
	line-height: 40px;
	left: 480px;
	top: 810px;
	color: #2c88c5;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 36px;
}

/* Category panel. */
#info-container {
	width: 466px;
	height: 40px;
	line-height: 40px;
	left: 480px;
	top: 850px;
	display: flex;
	justify-content: center;
	color: #2c88c5;
	padding-left: 10px;
	padding-right: 10px;

}

#category {
	text-align: center;
}


/* Timer panel. */
#timer {
	width: 470px;
	height: 80px;
	line-height: 80px;
	left: 480px;
	top: 890px;

	padding-left: 10px;
	padding-right: 10px;
}

/* Estimate panel. */
#estimate-container {
	position: absolute;
	left: 490px;
	top: 944px;
	font-family: 'Futura Heavy';
}

#estimate-container img {
	width: 22px;
	vertical-align: bottom;
}

#estimate {
	font-size: 16pt;
}
