/* Runner and pronouns panel. */
#runner-container1 {
	width: 480px;
	height: 80px;
	line-height: 80px;
	left: 740px;
	top: 908px;
	
	padding-left: 10px;
	padding-right: 10px;
}

/* Runner name dynamic text. */
.runner-name {
	max-width: 350px;
}

.pronouns, .comms-pronouns {
	max-width: 120px;

}

/* Comms panel. */
.comms-container {
	width: 580px;
	height: 80px;
	line-height: 80px;
	left: 1337px;	
	padding-left: 10px;
	padding-right: 10px;
}

.comms-name {
	max-width: 400px;
}

#comms-container1 {
	top: 530px;
}

#comms-container2 {
	top: 596px;
}

/* Game name panel. */
#game-name {
	width: 647px;
	height: 40px;
	line-height: 40px;
	left: 0px;
	top: 540px;
	color: #2c88c5;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 32px;
}

/* Category panel. */
#info-container {
	width: 647px;
	height: 30px;
	line-height: 30px;
	left: 0px;
	top: 570px;
	display: flex;
	justify-content: center;
	color: #2c88c5;
	padding-left: 10px;
	padding-right: 10px;

}

#category {
	text-align: center;
}


/* Timer panel. */
#timer {
	width: 647px;
	height: 90px;
	line-height: 90px;
	left: 0px;
	top: 591px;
	font-size: 44pt;
	padding-left: 10px;
	padding-right: 10px;
}

/* Estimate panel. */
#estimate-container {
	position: absolute;
	left: 10px;
	top: 626px;
	font-family: 'Futura Heavy';
}
/* 
#estimate-container img {
	width: 28px;
	vertical-align: bottom;
}

#estimate {
	font-size: 20pt;
} */
