/* Runner and pronouns panel. */
#runner-container1 {
	width: 488px;
	height: 80px;
	line-height: 80px;
	left: 64px;
	top: 350px;
	
	padding-left: 10px;
	padding-right: 10px;
}

/* Runner name dynamic text. */
.runner-name, .comms-name {
	max-width: 400px;
}

.pronouns, .comms-pronouns {
	max-width: 120px;

}

/* Comms panel. */
.comms-container {
	width: 488px;
	height: 70px;
	line-height: 70px;
	left: 64px;	
	padding-left: 10px;
	padding-right: 10px;
}

#comms-container1 {
	top: 417px;
}

#comms-container2 {
	top: 483px;
}



/* Game name panel. */
#game-name {
	width: 560px;
	height: 40px;
	line-height: 40px;
	left: 0px;
	top: 5px;
	color: #2c88c5;	
	padding-left: 10px;
	padding-right: 10px;
	font-size: 30pt;
}

/* Category panel. */
#info-container {
	width: 560px;
	height: 28px;
	line-height: 28px;
	left: 0px;
	top: 45px;
	color: #2c88c5;	
	padding-left: 10px;
	padding-right: 10px;
}

#category {
	text-align: center;
}

/* Timer panel. */
#timer {
	width: 560px;
	height: 80px;
	line-height: 80px;
	left: 10px;
	top: 72px;

	padding-left: 10px;
	padding-right: 10px;
}

/* Estimate panel. */
#estimate-container {
	position: absolute;
	left: 10px;
	top: 100px;
	font-family: 'Futura Heavy';
}