/* Runner and pronouns panel. */
#runner-container1 {
	width: 550px;
	height: 80px;
	line-height: 80px;
	left: 54px;
	top: 590px;
	
	padding-left: 10px;
	padding-right: 10px;
}

/* Runner name dynamic text. */
.runner-name, .comms-name {
	max-width: 420px;
}

.pronouns, .comms-pronouns {
	max-width: 100px;

}

/* Comms panel. */
.comms-container {
	width: 565px;
	height: 70px;
	line-height: 70px;
	left: 54px;	
	padding-left: 10px;
	padding-right: 10px;
}

#comms-container1 {
	top: 658px;
}

#comms-container2 {
	top: 722px;
}

#comms-container3 {
	top: 788px;
}

/* Comms name dynamic text. */

/* Game name panel. */
#game-name {
	width: 590px;
	height: 45px;
	line-height: 45px;
	left: 0px;
	top: 5px;
	color: #2c88c5;	
	padding-left: 10px;
	padding-right: 10px;
}

/* Category panel. */
#info-container {
	width: 590px;
	height: 35px;
	line-height: 35px;
	left: 1px;
	top: 45px;
	color: #2c88c5;	
	padding-left: 10px;
	padding-right: 10px;
}

#category {
	text-align: center;
}

/* Timer panel. */
#timer {
	width: 585px;
	height: 80px;
	line-height: 80px;
	left: 10px;
	top: 72px;

	padding-left: 10px;
	padding-right: 10px;
}

/* Estimate panel. */
#estimate-container {
	position: absolute;
	left: 10px;
	top: 100px;
	font-family: 'Futura Heavy';
}