/* Runner and pronouns panel. */
#runner-container1 {
	width: 550px;
	height: 80px;
	line-height: 80px;
	left: 60px;
	top: 350px;
	
	padding-left: 10px;
	padding-right: 10px;
}

/* Runner name dynamic text. */
.runner-name, .comms-name {
	max-width: 420px;
}

.pronouns, .comms-pronouns {
	max-width: 100px;

}

/* Comms panel. */
.comms-container {
	width: 565px;
	height: 70px;
	line-height: 70px;
	left: 58px;	
	padding-left: 10px;
	padding-right: 10px;
}

#comms-container1 {
	top: 417px;
}

#comms-container2 {
	top: 483px;
}
/* Game name panel. */
#game-name {
	width: 600px;
	height: 36px;
	line-height: 36px;
	left: 0px;
	top: 3px;
	color: #2c88c5;	
	padding-left: 10px;
	padding-right: 10px;
	font-size: 26pt;
}

/* Category panel. */
#info-container {
	width: 590px;
	height: 24px;
	line-height: 24px;
	left: 1px;
	top: 38px;
	color: #2c88c5;	
	padding-left: 10px;
	padding-right: 10px;
}

#category {
	text-align: center;
}

/* Timer panel. */
#timer {
	width: 585px;
	height: 90px;
	line-height: 90px;
	left: 10px;
	top: 57px;

	padding-left: 10px;
	padding-right: 10px;
}

/* Estimate panel. */
#estimate-container {
	position: absolute;
	left: 10px;
	top: 92px;
	font-family: 'Futura Heavy';
}

#runner-label {
	position: absolute;
	display: inline-block;
	vertical-align: middle;
	margin-top: 5px;
	/* background-color: black; */
	left: 12px;
	top: 359px;
}

/* Stopwatch image height. */
#runner-label img {
	height: 38pt;
}