/* Runner and pronouns panel. */
#runner-container1 {
	width: 640px;
	height: 80px;
	line-height: 80px;
	left: 100px;
	top: 443px;
	
	padding-left: 10px;
	padding-right: 10px;
}

/* Runner name dynamic text. */
.runner-name {
	max-width: 540px;
}

/* Comms panel. */
.comms-container {
	width: 640px;
	height: 80px;
	line-height: 80px;
	
	padding-left: 10px;
	padding-right: 10px;
	left: 100px;
}

#comms-container1 {
	top: 508px;
}

#comms-container2 {
	top: 573px;
}

#comms-container3 {
	top: 638px;
}

/* Comms name dynamic text. */
.comms-name {
	max-width: 540px;
}

/* Game name panel. */
#game-name {
	width: 800px;
	height: 40px;
	line-height: 40px;
	left: 100x;
	top: 5px;
	color: #2c88c5;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 32px;
}

/* Category panel. */
#info-container {
	width: 585px;
	height: 40px;
	line-height: 40px;
	left: 114px;
	top: 40px;
	display: flex;
	justify-content: center;
	color: #2c88c5;
	padding-left: 10px;
	padding-right: 10px;

}

#category {
	text-align: center;
}


/* Timer panel. */
#timer {
	width: 585px;
	height: 80px;
	line-height: 80px;
	left: 114px;
	top: 72px;

	padding-left: 10px;
	padding-right: 10px;
}

/* Estimate panel. */
#estimate-container {
	position: absolute;
	left: 10px;
	top: 96px;
	font-family: 'Futura Heavy';
}