/* Runner and pronouns panel. */
.runner-container {
	width: 280px;
	height: 50px;
	line-height: 25px;
	flex-wrap: wrap;
	padding-left: 10px;
	padding-right: 10px;
}

/* Runner name dynamic text. */
.runner-name {
	font-size: 24pt;
	max-width: 260px;
}

.pronouns{
	max-width: 240px;
	width: 240px;
	float: left;
	font-size: 18px;
	text-align: left;
}

.final-time-container {
	max-width: 260px;
	float: left;
	/* background-color: black; */
	display: flex;
	justify-content: flex-start;
	padding-top: 10px;
}

.finalTime {
	/* vertical-align: bottom; */
	line-height: 50px;
}

/* Player 1 info position. */
#runner-container1 {
	left: 460px;
	top: 648px;
}

/* Player 2 info position. */
#runner-container2 {
	left: 1160px;
	top: 648px;
}


/* Comms panel. */
.comms-container {
	width: 587px;
	height: 73px;
	line-height: 73px;
	
	padding-left: 10px;
	padding-right: 10px;
}

#comms-container1 {
	left: 345px;
	top: 786px;
}

#comms-container2 {
	left: 967px;
	top: 786px;
}

/* Comms name dynamic text. */
.comms-name {
	font-size: 24pt;
	max-width: 430px;
	padding-right: 44px;
}

/* Game name panel. */
#game-name {
	width: 380px;
	height: 44px;
	line-height: 44px;
	left: 760px;
	top: 635px;
	color: #2c88c5;
	padding-left: 10px;
	padding-right: 10px;
}

/* Category and estimate panel. */
#info-container {
	width: 380px;
	height: 36px;
	line-height: 36px;
	left: 760px;
	top: 670px;
	display: flex;
	justify-content: center;
	color: #2c88c5;
	padding-left: 10px;
	padding-right: 10px;
}

#category {
	text-align: center;
}

/* Timer panel. */
#timer {
	width: 300px;
	height: 36px;
	line-height: 36px;
	left: 810px;
	top: 710px;
	font-size: 32pt;
}

/* Estimate panel. */
#estimate-container {
	position: absolute;
	left: 770px;
	top: 736px;
}

#estimate-container img {
	width: 20px;
	vertical-align: bottom;
}

#estimate {
	font-size: 15pt;
}
