body {
    margin: 0px;
}

#omnibar {
    position: absolute;
    /* background-color: #ffff00; */
    display: flex;
    width: 1700px;
    height: 100px;
    left: 110px;
    bottom: 5px;
}

#omnibar > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#event-name {
    color: #2c88c5;
    font-size: 40pt;

}

#omnibar-content {
    flex: 1;
    color: #2c88c5;
    font-family: 'Exo_Soft';
}

#omnibar-content * {
    display: initial;
}

.is-single-line {
    font-size: 32pt;
}
.is-text-centered {
    margin: 0 auto;
}
