.comms-name {
	max-width: 180px;
	padding-right: 40px;
	
}
.comms-pronouns {
	max-width: 110px;
	margin-left: 4px;
	/* float: right; */
	vertical-align: middle;
	line-height: 70px;

}

/* Comms panel. */
.comms-container {
	width: 340px;
	max-width: 340px;
	height: 70px;
	line-height: 70px;
	left: 52px;	
	padding-left: 10px;
	padding-right: 10px;
}

#comms-container1 {
	top: 256px;
}

#comms-container2 {
	top: 578px;
}

#comms-container3 {
	top: 918px;
}